<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/eventos-principal"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Crear Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa datos de tu evento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <!--TITULO DEL EVENTO-->
        <ion-item>
          <ion-label position="stacked">Asigna un nombre a tu evento.</ion-label>
          <ion-input placeholder="Dale un nombre corto e inconfundible"></ion-input>
        </ion-item>
        <!--DESCRIPCION DEL EVENTO-->
        <ion-item >
          <ion-label position="stacked">Describe tu evento.</ion-label>
          <ion-textarea  placeholder="Introduce un breve resumen de tu evento para que los invitados sepan que pueden esperar"></ion-textarea>
        </ion-item>
        <!--HORARIO DEL EVENTO-->
          <ion-item lines="none">
          <ion-card-subtitle color="dark">Establece la fecha de tu evento</ion-card-subtitle>
        </ion-item>
        <ion-item lines="none" >
          <ion-card-subtitle color="dark">A partir del:</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label style="margin-left: 10px;">Día</ion-label>
          <ion-icon name="time"></ion-icon>
          <ion-label style="margin-left: 10px;">Horario</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Para:</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label style="margin-left: 10px;">Día</ion-label>
          <ion-icon name="time"></ion-icon>
          <ion-label style="margin-left: 10px;">Horario</ion-label>
        </ion-item>
        <!--UBICACION DEL EVENTO-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Establece la ubicacion del tu evento.</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="location"></ion-icon>
          <ion-label style="margin-left: 10px;">Lugar</ion-label>
          <input type="text">
        </ion-item>
        <!--CATEGORIA DEL EVENTO-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Categorias</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="pricetag"></ion-icon>
          <ion-label style="margin-left: 10px;">Fiesta</ion-label>
        </ion-item>
        <!--ENTRADAS DEL EVENTO-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Entradas</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="ticket"></ion-icon>
          <ion-label style="margin-left: 10px;">Vip</ion-label>
        </ion-item>
        <!--ENTRADAS DEL EVENTO-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Estado</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-label style="margin-left: 10px;">Evento privado</ion-label>
        </ion-item>
        <!--Organizadores-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Organizadores</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="add"></ion-icon>
          <ion-label style="margin-left: 10px;">Agregar</ion-label>
        </ion-item>
        <!--IMAGEN DEL EVENTO-->
        <ion-item lines="none">
          <ion-card-subtitle color="dark">Portada</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-icon name="image"></ion-icon>
          <ion-label style="margin-left: 10px;">Imagen de portada</ion-label>
        </ion-item>
        <!--BOTON DE GUARDAR-->
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="mycolor">Guardar Evento</ion-button>
          </ion-col>
        </ion-row>



      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
