<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Organizadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar organizador"
  debounce="100"
  (ionChange)="buscar ($event) " ></ion-searchbar>

<ion-list *ngFor="let organizador of organizadors; let index = i">

  <ion-item-sliding #slidingItem>
    <ion-item class="item-label item ios in-list ion-focusable hydrated">

          <ion-avatar slot="start">
            <img src="{{this.organizador.org_foto}}">
          </ion-avatar>



          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <h2>{{this.organizador.org_nombre}}</h2>
            <h3>{{this.organizador.org_cargo}}</h3>
            <p>{{this.organizador.org_descripcion}}</p>
          </ion-label>
          <ion-button color="success" href="{{this.organizador.org_whatsapp}}" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>


      </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="eliminarOrganizador(organizador, index, slidingItem)" color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option [routerLink]="['/organizadores/organizador/' + this.organizador.org_codigo]" color="primary">
                <ion-icon name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>

</ion-item-sliding>

</ion-list>




  <!--para agregar nuevos organizadores-->

    <ion-fab [routerLink]="['/organizadores/organizador/0']"
  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="btnCrear">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
