<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Crear Organizador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form >
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Nombre y Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="organizador.org_nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Cargo</ion-label>
          <ion-input type="text" [(ngModel)]="organizador.org_cargo" name="cargo"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input type="text" [(ngModel)]="organizador.org_descripcion" name="descripcion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label >Foto</ion-label>
          <ion-input type="file" [(ngModel)]="organizador.org_foto" name="foto"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button  [disabled]="organizador.org_nombre.length < 1"
            (click)="crearOrganizador()"  expand="block">Crear Organizador</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
  </ion-card>



</ion-content>
