<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start" >
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="dark">Por favor ingrese sus datos personales</ion-card-title>
  </ion-card-header>

  <form >
    <!--ENTRADAS DE DATOS (CORREO Y CONTRASEÑA)-->
    <ion-list>
      <ion-item lines="full">
      <ion-label position="floating" color="medium">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.usu_nombre" required name="usu_nombre"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" color="medium">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.usu_apellido" required name="usu_apellido"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" color="medium">Correo electronico</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.usu_email" required name="usu_email" pattern="^(([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$)"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating" color="medium">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.usu_password" required name="usu_password"></ion-input>
    </ion-item>
    <ion-item lines="full" >
      <ion-label position="floating" color="medium">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.usu_confpass" required name="usu_confpass"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="date" [(ngModel)]="usuario.usu_fnac" required name="usu_fnac" color="dark"></ion-input>
    </ion-item>
<!--BOTON PARA INICIAR SESION-->
    <ion-row>
      <ion-col>
        <ion-button (click)="registrarUsuario()" class="boton" type="submit" color="mycolor" expand="block">Registrar-me</ion-button>
      </ion-col>
    </ion-row>
    </ion-list>
  </form>
</ion-card>
</ion-content>
