ion-toolbar{
  background-color: var(--ion-color-mycolor);
}
.formu{
  padding: 20px;
}
.boton{
 margin-top: 30px;
}
ion-card{
  margin-top: 20px;
}
ion-button{
  background-color: var(--ion-color-mycolor-shade);
}
