<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Bienvenido a Eventus!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--BUSCADOR DE EVENTOS-->
  <div class="header">
    <strong>Buscar eventos en</strong>
    <ion-input [routerLink]="['/buscar-eventos']"><b>Ciudad del Este</b><ion-icon name="caret-down-sharp"></ion-icon></ion-input>
  </div>
  <!--CARD PRINCIPAL-->
  <ion-card [routerLink]="['/evento-detalle']">
      <ion-img  src="assets/img/eventos/djpv.jpg"></ion-img>
    <ion-card-content>
      <ion-card-subtitle color="danger">
        jue,mar 10 | 15:30 GMT-03:00</ion-card-subtitle>
        <ion-card-title>
          DJ PV ft PRETO NO BRANCO (INTENSAMENTE)
        </ion-card-title>
        <ion-item class="icons">
          <ion-icon color="dark" slot="end" name="share-social"></ion-icon>
          <ion-icon color="dark" slot="end" name="heart-outline"></ion-icon>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <!--DIVISORIA-->
  <ion-item-divider >
    <ion-label color="dark">
      Mas eventos!
    </ion-label>
  </ion-item-divider>
  <!--CARDS SECUNDARIOS-->
  <div id="container">
    <ion-card  *ngFor="let evento of eventosSecundarios" >
    <ion-item-group >
      <ion-item color="light" >
        <ion-thumbnail slot="start">
          <img  src="{{evento.img}}">
        </ion-thumbnail>
        <ion-label>
          <p style="color: rgb(230, 42, 42);font-size: 10px;">{{evento.horario}}</p>
          <h5>{{evento.titulo}}</h5>
        </ion-label>
          <ion-icon slot="end" name="share-social"></ion-icon>
          <ion-icon slot="end" name="heart-outline"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-card>
  </div>
  <!--Para agregar un nuevo evento-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/mis-eventos']"><ion-icon name="eye"></ion-icon></ion-fab-button>
      <ion-fab-button [routerLink]="['/crear-eventos']" class="btnCrear"><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>




</ion-content>
