<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Mis Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let evento of eventos; let index = i">

    <ion-item-sliding #slidingItem>
      <ion-item class="item-label item ios in-list ion-focusable hydrated">

            <ion-avatar slot="start">
              <img src="{{this.evento.eve_img}}">
            </ion-avatar>



            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
              <h2>{{this.evento.eve_nombre}}</h2>
              <h3>{{this.evento.eve_estado}}</h3>
              <p>{{this.evento.fk_categoria}}</p>
            </ion-label>



        </ion-item>



  </ion-item-sliding>

  </ion-list>
</ion-content>
