<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Editar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="updateCategoriaForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-input type="text"  formControlName="ca_nombre" value="{{this.categoria.ca_nombre}}"></ion-input>
      </ion-item>
          <ion-button
             type="submit">Actualizar Categoria</ion-button>
    </form>

</ion-content>
